#summary {
    overflow-y: scroll;
    height: 200px;
    resize: none;
}

.video-upload {
    border: 2px dashed #6c757d;
    padding: 2rem;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: border-color 0.3s ease;
    position: relative;
}
.video-upload input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}

#alert-empty, #alert-bad-format, #alert-success {
    display: none;
}
